:root {
    --background: #1C1E26;
    --title: #ffffff;
    --subtitle: #bd4662;
    --section: #20222b;
    --border: #1d1f27;
    --list: #f09383c7;
    --hover: #FAB795;
    --bottom: #7a00ff;
}

body {
    font-family: 'Open Sans';
    background-color: var(--background);
}

section {
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
    padding: 15px;
    max-width: 500px;
    border-radius: 10px;
    background-color: var(--section);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.4);
    border-bottom: 2px solid var(--subtitle);
}

header {
    border-radius: 10px;
    width: 100%;
    height: 80px;
    background-size: cover;
}

.Photo {
    display: block;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-left: auto;
    margin-right: auto;
    transform: translateY(-50%);
    border: 8px solid var(--border);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.4);
}

section h1 {
    font-size: 25px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    color: var(--title);
}

div {
    margin-top: 15px;
    padding: 15px;
    border-radius: 15px;
    background-color: var(--background);
}

section h2 {
    margin-top: 0%;
    text-align: center;
    font-size: 14px;
    color: var(--subtitle);
}

div ol li {
    margin-bottom: 10px;
    text-align: left;
    font-size: 10px;
    color: var(--list);
}

a {
    color: var(--list);
    text-decoration: none;
}

@keyframes fade {
    100% {
        color: var(--hover);
    }
}

a:hover {
    animation: fade 0.5s linear forwards;
}

.git {
    width: 30px;
    height: 30px;
    display: block;
    margin-left: auto;
    filter: opacity(20%);
}

.bloco:after {
    filter: blur(50px);
}
